<configuration>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <!-- reset all previous level configurations of all j.u.l. loggers -->
        <resetJUL>true</resetJUL>
    </contextListener>

    <!--<appender name="ASYNC500" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="FILE" />
    </appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %highlight(%-5level) %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.tickets" level="trace"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.google.inject" level="info"
            additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>